@model IEnumerable<Security.ApplicationRole>

@{
    ViewData["Title"] = "مدیریت نقش کاربر";
    ViewData["selected"] = "RoleManagement";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="AddNewRole" asp-controller="RoleManagement" class="btn btn-primary">ایجاد نقش جدید</a>
</p>

@if (Model.Any()==false)
{
    <tr>
        <td colspan="2">
            <h5 class="text-danger">ایتمی موجود نمی باشد</h5>
        </td>
    </tr>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                عملیات
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditRole", new { roleId=item.Id },new{@class="btn btn-info btn-sm"}) |
                    @Html.ActionLink("Delete", "DeleteRole", new { roleId=item.Id },new{@class="btn btn-danger btn-sm"})
                </td>
            </tr>
        }
        </tbody>
    </table>
}
